DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=db_password
DB_NAME=eventflow

PORT=3000

JWT_SECRET=jwt_secret_key
JWT_EXPIRES_IN=1d

EMAIL_USER=lea.pauchot@gmail.com
EMAIL_PASS=email_password

VITE_API_URL=http://localhost:3003/api